# Yarn
.yarn/cache
.yarn/install-state.gz

# Node
node_modules

# Output
.vercel
.svelte-kit
build

# OS
.DS_Store
Thumbs.db

# Env
.env

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Testing
coverage
test-results
