@import 'tailwindcss' prefix(tw);

@theme {
	--font-sans: 'Avenir Next', 'Avenir', 'Myriad Pro', 'Helvetica Neue', sans-serif;
}

@layer base {
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	html,
	:host {
		@apply tw:font-sans tw:text-gray-800;
	}
}
